.pointer {
    cursor: pointer;
}

.yes-vote {
    color: hsl(141, 71%, 48%);
}

.no-vote {
    color: hsl(348, 100%, 61%);
}

.votes {
    font-size: large;
}

.user {
    width: 80px;
}

.is-horizontal-center {
    justify-content: center;
}

.logo {
    width: 100px;
    height: 80px;
}

.dreadit {
    line-height:80px;
}

.logo-with-words {
    margin: 1.5rem;
}

.selected {
    font-weight: bold;
}