.thumb {
    cursor: pointer;
}

.yes-vote {
    color: green;
}

.no-vote {
    color: red;
}

.votes {
    font-size: large;
}

.user {
    width: 125px;
}

.is-horizontal-center {
    justify-content: center;
}

.logo {
    width: 100px;
    height: 80px;
}

.dreadit {
    line-height:80px;
}

.logo-with-words {
    margin: 1.5rem;
}